nav{
    background-color: none;
}
nav>ul{
    list-style-type:none;
}

nav>ul>li{
    font-weight: bold;
    
}

section>ul{
    list-style-type: none;
   
}

nav>ul>li {
    border:solid thin black;
    padding: 30px;
}
   
aside{
    border-style: solid;
}

li{
    border: ridge;
}

header h1{
    text-align: center;
    font-family:  none;
}

body{
    background-color:   #bbccf8    
}

footer {
    border: thin black solid;
}

footer a{
   color: black;
   text-decoration: none;
}

#perso{
    background-color: #c8c8c8;
}

nav ul li a{
    color: black;
    text-decoration: none;
}
