
header img{
    width: 100%;

}


nav>ul>li{
 padding:45px;
 height: 3px
   
}

#acc, #sais, #perso, #ba, #bout{
padding-top: 10px;
padding-bottom: 30px;
}

#ba{
    flex
}

nav>ul{
    display:flex;
    width: 100%;
   
     
}

#img1{
    display: block;
    width: 75%; 
    padding-left: 175px;
}
    
}

#perso a{
    color:black;
    text-decoration: none;
   
}

ul{
    width: 100%;
}


nav{
      padding-left: 375px;
}

#img2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 150px;}

