nav{
    background-color: none;
}
nav>ul{
    list-style-type:none;
}

nav>ul>li{
    font-weight: bold;
    
}

header h1{
    text-align: center;
    font-family:  none;
}

body{
    background-color:   #bbccf8    
}

nav>ul>li {
    border:solid thin black;
    padding: 30px;
}

nav>ul>li{
    font-weight: bold;
    
}

#acc {
    background-color: #c8c8c8;
}

footer {
    border: thin black solid;
}

footer a{
   color: black;
   text-decoration: none;
}

li{
    list-style-type: none;
}


#img2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 150px;
}

#personage {
    color:black;
    text-decoration: none;
}
