
header img{
    width: 100%;
    
 
}

nav>ul>li{
 padding:45px;
 height: 3px
   
}

#acc, #sais, #perso, #ba, #bout{
padding-top: 10px;
padding-bottom: 30px;
}

#ba{
    flex
}

nav>ul{
    display:flex;
    margin-right: 60px;
    margin-left: 60px;
     
}

main li{
    display: flex;
    margin:20px;
    
}

main ul{
    padding-right: 10px;
    padding-left: 0px; 

    
}

ul li img{
    width: 250px;
    margin: 5px;

}


main{ 
display:flex;

}



aside section{
    margin: 10px;
}

a {
display : block;
flex-basis: 50%;
padding: 10px
    
}

#reseau{
    margin-left: 10px;
    padding-right: 90px;
    
}

#reseau a {
    border: thin solid  black;
    color : black;
    text-decoration:  none;
}

footer{
    margin: 20px;
    margin-right: 1px;
    margin-left: 1px;
}

main > ul {
    flex-basis: 75%;
}

aside{
flex-basis: 32%
    }

article{
    margin: 40px;
}

#contact{
    display:flex;
    flex-wrap: nowrap;
    background-color: white;
}

#contact img{
    width: 50px ;
    
}

#contact p{
    font-size: 10px
}


#acc a {
padding-bottom: 15px;
padding-top: 1px;

}

#navig{
    padding-left: 375px;
}
